body {
	background: #ADADAD;
	text-align: center;
	font-family: 'Signika', sans-serif;
	font-size: 20px;
	font-style: normal;
}

h1 {
	color: #ffffff;
}

ul {
	text-align: left;
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #00C91B;
	border: 2px solid #000000;
	-webkit-box-shadow: 10px 10px 75px -15px rgba(0,0,0,0.75);
}


li:hover {
	background: #CCC600;
}

li > button {
	background: none;
	border: none;
	float: right;
	color: #000000;
}

.title {
	margin: 70px 0px 0px 0px;
}

.complete {
	background: #CC4700 !important;
	color: #ffffff;
}

.delete {
	display: none;
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	margin: 0 auto;
}

.container-2 {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	margin: 0 auto;
	padding: 20px;
}

#Ingresar {
	border: none;
	padding: 10px;
	border-radius: 8px;
	color: #DCDCDC;
	background-color: #2DD600;
	font-weight: normal;
}

#Ingresar:hover{
	background-color: #23A800;
	color: #DCDCDC;
}



#tarea {
	border-radius: 5px;
	min-width: 65%;
	padding: 10px;
	border: none;
}

